
<div id="around-container" class="popup">
  <div class="popup-buttons">
    <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
  </div>

  <h4>{{etatsLabel}}</h4>
  {{{ htmlEtatsList }}}

  <div id="a-dist">
    <h4>{{distanceLabel}}</h4>
    <div>
      <input
        id="a-dist-range"
        name="a-dist-range"
        type="range"
        step="{{distanceStep}}"
        min="{{distanceMin}}"
        max="{{distanceMax}}"
        value="{{distanceValue}}"
      >
      <span id="a-dist-current">{{distanceValue}}</span><span>km</span>
    </div>
  </div>

  <div id="a-bottom-bar">
    <button class="btn btn-valider border-container" title="{{validerTitle}}">
      <span class="btn-valider-icon"></span>
      <span class="btn-valider-text">{{validerLabel}}</span>
    </button>
  </div>
</div>