  <div id="creation-site-container" class="infowindow-content">
    <div class="popup-field-name nom">{{nomLabel}}</div>
    <div class="popup-value"><input type="text" class="input-nom" maxlength="255"></div>

    <div class="etat-btn-wrapper">
      {{{ htmlEtat }}}
    </div>

    <div class="bottom-btn-row">
      <button class="btn btn-valider border-container" title="{{validerTitle}}">
        <span class="btn-valider-icon"></span>
        <span class="btn-valider-text">{{validerLabel}}</span>
      </button>
    </div>
  </div>