<div class="fake-container">
  <div id="dept-map-btn" class="btn" title="{{openLabel}}"></div>
  <div id="dept-map" class="popup">
    <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
    <div id="dept-map-carte"><div></div></div>
  </div>
</div>