  {{#diag.DB}}<li class="{{getStatusClass}} diag-db" title="Connection à la base de données">{{diag.DB.status}}</li>{{/diag.DB}}
  {{#diag.WS}}<li class="{{getStatusClass}} diag-ws" title="Connection au serveur temps réel">{{diag.WS.status}}</li>{{/diag.WS}}