  <div id="diary" class="popup">
    <div class="diary-topline">
      <span class="title">{{title}}</span>
      <span class="compteur" data-value="{{count}}" title="{{compteurTitle}}">{{count}}</span>
      <div class="diary-filter">
        <div>
          <span data-event="1" class="btn {{#filter.buttons.1}}pressed{{/filter.buttons.1}}" title="{{filter.event1Title}}">{{filter.event1Label}}</span>
          <span data-event="2" class="btn {{#filter.buttons.2}}pressed{{/filter.buttons.2}}" title="{{filter.event2Title}}">{{filter.event2Label}}</span>
          <span data-event="3" class="btn {{#filter.buttons.3}}pressed{{/filter.buttons.3}}" title="{{filter.event3Title}}">{{filter.event3Label}}</span>
          <span data-event="4" class="btn {{#filter.buttons.4}}pressed{{/filter.buttons.4}}" title="{{filter.event4Title}}">{{filter.event4Label}}</span>
        </div>
      </div>
      <span class="btn-arrow btn-down active" title="{{arrowTitle}}"></span>
      <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
    </div>
    <ul></ul>
    <div id="diary-limited">{{limitedDiary}}</div>
  </div>