
  <div class="title">{{titre}}</div>

  <div class="drag-info-row1">
    <div class="popup-field-name">{{adresseLabel}}</div>
    <div class="popup-value">{{adresse}}</div>
  </div>

  <div class="drag-info-row2">
    <div class="d-i-coords">
      <div class="popup-field-name">{{coordonnesWgsLabel}}</div>
      <div class="popup-value">{{y}}, {{x}}</div>
    </div>
    <div id="drag-info-buttons">
      <span
        class="btn ok"
        data-x="{{x}}"
        data-y="{{y}}"
        data-adresse="{{adresse}}"
        data-commune="{{commune}}"
        data-dept="{{dept}}"
        data-pays="{{pays}}"
      >{{validerLabel}}</span>
      <span class="btn ko">{{annulerLabel}}</span>
    </div>
  </div>