  <div class="popup-field-name">{{etatLabel}} {{#etatAuthor}}<span class="popup-author">(par <b>{{site.ETAT_AUTHOR}}</b> <span class="date">le {{etatDate}}</span>)</span>{{/etatAuthor}}</div>
  <div class="popup-value">
    <span class="btn current-etat-container border-container" data-id="{{site.ETAT}}" title="{{etatBtnTitle}}">
      <span class="etat-icon etat-{{site.ETAT}}"></span>
      <span class="etat-label">{{etatLibelle}}</span>
    </span>
  </div>