  <div class="popup-buttons">
    <div class="btn fiche-fold-btn" title="foldLabel"></div>

    <button id="fiche-move-site-btn" class="btn border-container" title="Déplacer le point sur la carte">
      <i class="fas fa-expand-arrows-alt">
      </i><span>Déplacer</span>
    </button>

    <span class="fiche-buttons-bar">
      <span class="btn fiche-btn-zoom" title="{{zoomLabel}}"></span>
      <span class="btn fiche-btn-link" title="{{linkLabel}}"></span>
      <span class="btn fiche-btn-prev" title="{{prevLabel}}"></span>
      <span class="btn fiche-btn-next" title="{{nextLabel}}"></span>
      {{#site.IDENTIFIANT}}<span class="btn fiche-btn-brgm" title="{{brgmLabel}}" data-identifiant="{{site.IDENTIFIANT}}"></span>{{/site.IDENTIFIANT}}
    </span>
  </div>
  <span class="fiche-button-close"><span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span></span>
  <div class="fiche-fields">
  {{#site.RAISON_SOCIALE}}
    <div class="popup-field-name fiche-fold-hide">{{raisonSocialeLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.RAISON_SOCIALE}}</div>
  {{/site.RAISON_SOCIALE}}
  {{#site.NOM_USUEL}}
    <div class="popup-field-name fiche-fold-hide">{{nomUsuelLabel}} {{#site.CREATION_AUTHOR}}<span class="popup-author">(par <b>{{site.CREATION_AUTHOR}}</b> <span class="date">le {{creationDate}}</span>)</span>{{/site.CREATION_AUTHOR}}</div>
    <div class="popup-value fiche-fold-hide">{{site.NOM_USUEL}}</div>
  {{/site.NOM_USUEL}}
  {{#COMMENTAIRE}}
    <div class="popup-field-name fiche-fold-hide">{{commentaireLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.COMMENTAIRE}}</div>
  {{/COMMENTAIRE}}
  {{#site.ADRESSE}}
    <div class="popup-field-name fiche-fold-hide">{{adresseLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.ADRESSE}}</div>
    <div class="popup-value fiche-fold-hide">{{site.CP}} {{site.COMMUNE}}</div>
  {{/site.ADRESSE}}

  {{#site.LIBELLE_ACTIVITE}}
    <div class="popup-field-name fiche-fold-hide">{{activiteLabel}}</div>
    <div class="popup-value fiche-fold-hide" title="{{site.LIBELLE_ACTIVITE}}">{{site.LIBELLE_ACTIVITE}}</div>
  {{/site.LIBELLE_ACTIVITE}}

  {{{ htmlEtat }}}

    <div class="popup-field-name">{{remarquesLabel}} {{#hasRemarques}}<strong>{{remarques.length}}</strong>{{/hasRemarques}}</div>
    <div class="popup-value">
      <div class="border-container btn btn-ajouter-remarque" title="{{remarqueBtnTitle}}">
        <div class="edit-icon"></div>
        <span>{{ajouterRemarqueLabel}}</span>
      </div>
    </div>
  {{#remarques}}
    <div class="border-container remarque-container fiche-fold-hide" data-id="{{_id}}">
     <span class="author">{{AUTHOR}}</span>
     <span class="date">le {{dateLabel}}</span>
     <div class="remarque">{{{REMARQUE}}}</div>
    </div>
  {{/remarques}}

  {{#isPhotoFeatureEnabled}}
  <div class="popup-field-name fiche-fold-hide">{{photosLabel}} {{#hasPhotos}}<strong>{{photos.length}}</strong>{{/hasPhotos}}</div>
  <div class="popup-value fiche-fold-hide">
    <div class="border-container btn btn-ajouter-photos" title="{{photosBtnTitle}}">
      <div class="camera-icon"></div>
      <span>{{ajouterPhotosLabel}}</span>
    </div>
  </div>
  {{#photos}}
  <span class="fiche-fold-hide"><img class="fiche-photo" data-id="{{_id}}" src="{{staticPathThumbs}}/{{FILENAME}}"></span>
  {{/photos}}
  {{/isPhotoFeatureEnabled}}

  {{#site.COMMENTAIRE_LOCALISATION}}
    <div class="popup-field-name fiche-fold-hide">{{commentaireLocalisationLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.COMMENTAIRE_LOCALISATION}}</div>
  {{/site.COMMENTAIRE_LOCALISATION}}
  {{#site.ETAT_DE_CONNAISSANCE}}
    <div class="popup-field-name fiche-fold-hide">{{etatDeConnaissanceLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.ETAT_DE_CONNAISSANCE}}</div>
  {{/site.ETAT_DE_CONNAISSANCE}}
  {{#site.ETAT_OCCUPATION}}
    <div class="popup-field-name fiche-fold-hide">{{etatOccupationLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.ETAT_OCCUPATION}}</div>
  {{/site.ETAT_OCCUPATION}}
  {{#site.SITE_REAMENAGE}}
    <div class="popup-field-name fiche-fold-hide">{{siteReamenageLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{siteReamenageLibelle}}</div>
  {{/site.SITE_REAMENAGE}}
  {{#site.SITE_EN_FRICHE}}
    <div class="popup-field-name fiche-fold-hide">{{siteEnFricheLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{siteEnFricheLibelle}}</div>
  {{/site.SITE_EN_FRICHE}}
  {{#site.TYPE_DE_REAMENAGEMENT}}
    <div class="popup-field-name fiche-fold-hide">{{typeDeReamenagementLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.TYPE_DE_REAMENAGEMENT}}</div>
  {{/site.TYPE_DE_REAMENAGEMENT}}
  {{#site.PROJET_DE_REAMENAGEMENT}}
    <div class="popup-field-name fiche-fold-hide">{{projetDeReamenagementLabel}}</div>
    <div class="popup-value fiche-fold-hide">{{site.PROJET_DE_REAMENAGEMENT}}</div>
  {{/site.PROJET_DE_REAMENAGEMENT}}
    <div class="popup-field-name fiche-fold-hide">{{coordonnesWgsLabel}} {{#site.POSITION_AUTHOR}}<span class="popup-author">(par <b>{{site.POSITION_AUTHOR}}</b> <span class="date">le {{positionDate}}</span>)</span>{{/site.POSITION_AUTHOR}}</div>
    <div class="popup-value fiche-coordinates fiche-fold-hide">
      <span>{{coordinates}}</span>
      <span>
        {{#hasClipboardApi}}<button class="btn border-container" data-coordinates="{{coordinates}}">Copier</button>{{/hasClipboardApi}}
        <a class="btn border-container" href="https://maps.google.fr/?q={{coordinates}}" target="_blank">Ouvrir dans GMaps</a>
      </span>
    </div>
  </div>