
<div id="filter-container" class="popup">
  <div class="popup-buttons">
    <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
  </div>

  <div id="filter-subcontainer">
    <div id="filter-tabs">
      <h4 id="f-tab-depts" class="f-tab f-tab-selected">{{departementsLabel}}</h4>
      <h4 id="f-tab-etats" class="f-tab">{{etatsLabel}}</h4>
    </div>

    <div id="f-depts-container">
      <h4>{{departementsLabel}}</h4>
      <div id="f-depts-selected-header">
        <span class="f-depts-selected-title">{{selectedLabel}}</span>
        <span id="f-depts-clear-btn" class="btn" title="{{clearTitle}}"><i class="fas fa-times-circle"></i> {{clearLabel}}</span>
      </div>
      <div id="f-depts-selected">
        <ul></ul>
      </div>
      <ul id="f-depts-available">
        {{#depts}}
          <li data-dept="{{num}}">
            <span class="f-depts-num">{{num}}</span>
            <span class="f-depts-nom">{{nom}}</span>
          </li>
        {{/depts}}
      </ul>
    </div>

    <div id="f-etats-container" {{^etatsVisible}}style="display: none;"{{/etatsVisible}}>
      <h4>{{etatsLabel}}</h4>
      {{{ htmlEtatsList }}}
    </div>
  </div>

  <div id="f-bottom-bar">
    <div class="f-counter">
      <span class="f-counter-spinner"></span>
      <span class="f-counter-value">&nbsp;</span>
    </div>
    <button class="btn btn-valider border-container" title="{{validerTitle}}">
      <span class="btn-valider-icon"></span>
      <span class="btn-valider-text">{{validerLabel}}</span>
    </button>
  </div>

</div>