<div id="help-container">

  <h1>{{pageTitle}}</h1>

  <div id="summary">
    <ul>
      <li class="btn border-container" data-target="help-filtre">{{filtreLabel}}</li>
      <li class="btn border-container" data-target="help-fiche">{{ficheLabel}}</li>
      <li class="btn border-container" data-target="help-move">{{moveLabel}}</li>
      <li class="btn border-container" data-target="help-add">{{addLabel}}</li>
      <li class="btn border-container" data-target="help-diary">{{diaryLabel}}</li>
      <li class="btn border-container" data-target="help-search">{{searchLabel}}</li>
      <li class="btn border-container" data-target="help-various">{{variousLabel}}</li>
    </ul>
  </div>

  <div id="note-huggy">Huggy-les-bons-tuyaux a dit: <i>"Tu sais pas à quoi sert un bouton ? Laisse ta souris dessus pour faire apparaitre la légende."</i></div>

  <div id="main">
    <div id="help-filtre" class="popup">
      <h2>{{filtreLabel}}</h2>
      <div class="content"></div>
    </div>
    <div id="help-fiche" class="popup">
      <h2>{{ficheLabel}}</h2>
      <div class="content"></div>
    </div>
    <div id="help-move" class="popup">
      <h2>{{moveLabel}}</h2>
      <div class="content"></div>
    </div>
    <div id="help-add" class="popup">
      <h2>{{addLabel}}</h2>
      <div class="content"></div>
    </div>
    <div id="help-diary" class="popup">
      <h2>{{diaryLabel}}</h2>
      <div class="content"></div>
      <div class="content"></div>
    </div>
    <div id="help-search" class="popup">
      <h2>{{searchLabel}}</h2>
      <div class="content"></div>
      <div class="content"></div>
    </div>
    <div id="help-various" class="popup">
      <h2>{{variousLabel}}</h2>
      <div class="content"></div>
      <div class="content"></div>
    </div>
  </div>

</div>