  <form class="form-input-file" enctype="multipart/form-data">
    <span class="input-label btn">{{inputLabel}}</span>
    <span class="input-value"></span>
    <input name="file" type="file" accept="image/*" />

    <div>{{inputLabel}}</div>
    <input
      id="if-input"
      type="file"
      accept="image/*"
      multiple
    />

    <!-- <input class="upload-commentaire" name="commentaire" type="hidden" /> -->
  </form>