  {{! PHOTOS ADDED }}
  <li data-id="{{event.data.SITE_ID}}" data-event-type="{{event.type}}" class="diary-entry {{#isUser}}is-user{{/isUser}}">
    <div class="diary-entry-col1">
      {{#event.date}}<span class="log-date">{{event.date}}</span>{{/event.date}}
      <span class="departement">{{area}}</span>
    </div>
    <div class="diary-entry-col2">
      <div>
        <span class="author">{{event.author}}</span>
        <span> a ajouté des <b>photos</b> au site </span>
      </div>
      <div>
        <span class="log-value log-etat log-etat-{{event.data.ETAT}}"></span>
        <span class="">{{event.data.NOM_USUEL}}</span>
      </div>
    </div>
  </li>