  <div id="menu">
    <ul>
      <li id="menu-add" class="btn">Ajouter un site</li>
      <li id="menu-filter" class="btn">Filtre</li>
      <li id="menu-around" class="btn">Autour d'ici</li>
    </ul>
  </div>