  <div id="recherche-container">
    <div>
	  <input type="text" placeholder="{{placeholder}}">
	  <span class="rech-france-toggle fr-enabled btn" title="{{rechercheFranceLabel}}">{{franceLabel}}</span>
	</div>
  </div>