<div id="saisie-remarque" class="popup">
  <div class="popup-buttons">
    <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
  </div>

  <div class="popup-field-name nom">{{remarqueLabel}}</div>
  <input type="text" maxlength="500">

  <div class="bottom-btn-row">
    <button class="btn btn-valider border-container">
      <span class="btn-valider-icon"></span>
      <span class="btn-valider-text">{{validerLabel}}</span>
    </button>
  </div>
</div>