
  <div id="upload-container" class="popup">
    <div class="popup-buttons">
      <span class="btn popup-close" title="{{closeLabel}}"><i class="fas fa-times-circle"></i></span>
    </div>

    <div class="popup-field-name nom">{{photosLabel}} :</div>
    <div id="upload-form-container" class="border-container">
      {{> tplInputFile}}
    </div>

<!--
    <div class="popup-field-name nom">{{commentaireLabel}} :</div>
    <div class="upload-commentaire popup-value"><input type="text" maxlength="255"></div>
-->

    <div class="bottom-btn-row">
      <button class="btn btn-valider border-container" title="{{validerTitle}}">
        <span class="btn-valider-icon"></span>
        <span class="btn-valider-text">{{validerLabel}}</span>
    </button>
    </div>
  </div>

