@import "./vars.scss";

.alertify-notifier .ajs-message {
  text-shadow: none !important;
  font-family: $fontFamily;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}

.mobile .alertify-notifier .ajs-message {
  padding: 10px;
  font-size: 0.7em;
}

.alertify-notifier .ajs-message.ajs-success {
  background-color: #40a5e0;
}

.alertify-notifier .ajs-message.ajs-warning {
  border: 2px solid rgb(239, 232, 167);
}

body .alertify .ajs-header {
  padding: 5px;
}

body .alertify .ajs-dimmer {
  opacity: 0.3;
}

button.ajs-button {
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}