[id="around-container"] {
  display: none;
  /* display flex from JS */
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  max-width: 95vw;
  max-height: 85vh;
  padding: 16px 15px 10px;
  box-shadow: none;
  border: 2px solid #c5c5c5;
  user-select: none;

  & > h4 {
    margin-top: .5em;
  }

  .etats-list {
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 90%;
    padding: 0 25px;
    -webkit-tap-highlight-color: transparent;

    li {
      cursor: pointer !important;

      &.available-etat {
        opacity: 0.5;
      }
    }
  }
}

.mobile [id="around-container"] {
  top: 46vh;
  max-height: 75vh;
}

#a-dist {
  h4 {
    margin-bottom: .8em;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    margin: 0;
    padding: 10px 0;
    width: 220px;
  }
}
#a-dist-current {
  margin: 0 .2em 0 .4em;
  width: 2em;
  font-size: 1.2em;
  text-align: right;
}

[id=a-bottom-bar] {
  margin-top: .3em;
}
