
@import './vars.scss';

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f4f4f4;
}

body.mobile {
    font-size: 1.1em;
}

.btn {
  user-select: none;
  cursor: pointer;
}
.btn.border-container {
  border-width: 3px;
}
.btn:active {
  opacity: .7;
}
.btn.ok {
  background-color: #ccf8cc;
}

.btn,
button {
  -webkit-tap-highlight-color: transparent;
}

.border-container {
  display: inline-block;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.title {
  margin-top     : .6em;
  font-size      : .85em;
  text-transform : uppercase;
  font-weight    : 600;
  letter-spacing : 1px;
  color          : #6c6c6c;
  cursor         : default;
}


.popup {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px 2px rgba(3, 3, 3, .2);
}
.popup,
#menu,
#creation-site-container {
  font-family: $fontFamily;
  font-size  : 16px;

  input {
    padding      : 8px 5px 5px;
    font-size    : 16px;
    border-radius: 3px;
    border       : 1px solid lightblue;

    &:focus {
      border-color: lightblue;
    }
  }
}

.popup-field-name {
  margin-top   : 14px;
  margin-bottom: 2px;
  font-size    : .9em;
  font-style   : italic;
  font-weight  : 600;
  color        : cadetblue;
}
.popup-field-name strong {
  margin-left: 3px;
  padding: 0px 4px;
  background-color: #5f9e9f;
  font-style: normal;
  color: white;
  border-radius: 25%;
}

.popup-value {
  margin   : 0 5px 5px 10px;
  max-width: 350px;
}

.popup-author {
  margin-left: 3px;
  font-weight: normal;
  color: rgb(149, 168, 168);
}

.popup-buttons {
  position: absolute;
  right   : 0;
  top     : 0;
}

.popup-buttons span {
  display: inline-block;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #a9a9a9;
  font-size: 1.6em;
  background-color: white;
  padding: 0 5px;
  border-radius: 50%;
}
.popup-close:HOVER {
  background-color: #fff;
}


.btn-valider {
  display: flex;
  align-items: center;
  margin    : auto;
  margin-top: 15px;
  padding   : 6px 16px 6px 12px;
  font-size : 1.1em;
  font-weight: 700;
  background-color: #e5fff1;

  & * {
    pointer-events: none;
  }

  &[disabled] {
    opacity: .7;
    cursor: default;

    & .btn-valider-icon {
      background-image: url(../assets/img/hourglass-24.png);
    }
  }
}
.btn-valider-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url(../assets/img/green-check.png) no-repeat center center;
}
.btn-valider-text {
  margin: 1px 0 0;
}

.bottom-btn-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}



.turn {
  -webkit-animation : sweep 1s infinite linear;
  -moz-animation    : sweep 1s infinite linear;
  -ms-animation     : sweep 1s infinite linear;
  -o-animation      : sweep 1s infinite linear;
  animation         : sweep 1s infinite linear;
}
@-webkit-keyframes sweep { to { -webkit-transform : rotate(360deg); } }
@-moz-keyframes sweep    { to { -moz-transform    : rotate(360deg); } }
@-ms-keyframes sweep     { to { -ms-transform     : rotate(360deg); } }
@-o-keyframes sweep      { to { -o-transform      : rotate(360deg); } }
@keyframes sweep         { to { transform         : rotate(360deg); } }


/* Cross-browser helpers, thanks to autoprefixer */
.display-flex {
  display: flex !important;
}


.blink {
  -webkit-animation : soft-blink .5s infinite alternate linear;
  -moz-animation    : soft-blink .5s infinite alternate linear;
  -ms-animation     : soft-blink .5s infinite alternate linear;
  -o-animation      : soft-blink .5s infinite alternate linear;
  animation         : soft-blink .5s infinite alternate linear;
}
@-webkit-keyframes soft-blink {
  from { opacity: 1; }
  to { opacity: .3; }
}
@-moz-keyframes soft-blink {
  from { opacity: 1; }
  to { opacity: .3; }
}
@-ms-keyframes soft-blink {
  from { opacity: 1; }
  to { opacity: .3; }
}
@-o-keyframes soft-blink {
  from { opacity: 1; }
  to { opacity: .3; }
}
@keyframes soft-blink {
  from { opacity: 1; }
  to { opacity: .3; }
}
