[id="dept-map-btn"] {
  position: absolute;
  z-index: 1;
  left: 4px;
  bottom: 72px;
  width: 50px;
  height: 50px;
  background: url(../assets/img/carte-icone.png) no-repeat center;
  background-size: contain;
}
.mobile [id="dept-map-btn"] {
  width: 36px;
  height: 36px;
}

[id="dept-map-btn"]:active {
  opacity: 0.8;
}

[id="dept-map"] {
  display: none;
  position: absolute;
  z-index: 12;
  top: 5px;
  left: 3%;
  max-width: 94%;
  max-height: 95%;
  padding: 5px;
  overflow: auto;

  width: 92%;
  height: 94%;
  max-width: 1300px;
  max-height: 1300px;
}

[id="dept-map-carte"] {
  overflow: auto;

  div {
    width: 1226px;
    height: 1246px;
    background: white url(../assets/img/carte-departements.png) no-repeat center;
    background-size: contain;
  }
}

.mobile [id="dept-map-carte"] div {
  width: 880px;
  height: 880px;
}
