
[id=diag-container] {
  position: absolute;
  z-index: 2;
  padding: 0;
  bottom: 52px;
  left: 20px;
}

.diag-light {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  cursor: pointer;
}
.diag-light.diag-ok {
  border: 1px solid rgb(0, 234, 0);
  background-color: rgb(0, 179, 0); /* green */
}
.diag-light.diag-ko {
  border: 1px solid rgb(255, 174, 174);
  background-color: red;
}




/* DETAILS */

.diag-details {
  display: none;
  padding: 1px 6px 2px 2px;
  align-items: center;
}

.diag-refresh {
  display: inline-block;
  /* margin: 0 0 10px 4px; */
  padding: 10px 8px 10px 10px;
  width: 20px;
  height: 20px;
  background: url(../assets/img/refresh.png) no-repeat center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


/* List */

[id=diag-container] ul {
  display: inline-block;
  margin: 0;
  padding: 2px 0 0 0;
  cursor: default;
}

[id=diag-container] li {
  margin: 3px 6px 3px 3px;
  font-weight: bold;
  padding-left: 36px;
  line-height: 30px;
  list-style: none;
}

.diag-db {
  background: url(../assets/img/database_low.jpg) no-repeat left center;
}

.diag-ws {
  background: url(../assets/img/websockets_low.jpg) no-repeat left center;
}

li.diag-ok {
  color: rgb(0, 179, 0); /* green */
}
li.diag-ko {
  color: red
}
