
[id=diapo-container] {
  display         : flex;
  flex-direction  : column;
  position        : absolute;
  z-index         : 12;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, .95);
}

[id=diapo-close] {
  position : absolute;
  z-index  : 1;
  margin   : 10px;
  padding  : 1px 6px 2px;
  font-size: .9em;
  color    : lightgrey;
}