

/* waiter */
[id=diary] [id=waiter] {
  width : 90%;
  height: auto;
}


[id=diary] {
  position      : absolute;
  top           : 5px;
  left          : 10px;
  z-index       : 3;
  display       : none;
  flex-direction: column;
  margin-right  : 5%;
  padding       : 4px 15px 0px 10px;
  width         : 89%;
  max-width     : 800px;
  max-height    : 95%;
}
.mobile [id=diary] {
    font-size: 0.8em;
}

[id=diary].street-view-mode {
  top: 80px;
  left: 10px;
  max-height: 84%;
}

.diary-topline {
  display : flex;
  flex    : 0 0 30px;
}
.diary-topline .title {
  flex      : 0 0 80px;
  padding   : 3px 0px 0 5px;
  font-size : .95em;
}
[id=diary] .compteur {
  display      : none;
  flex         : 0 0 10px;
  margin-left  : 5px;
  padding      : 3px 6px 2px;
  height       : 1.3em;
  line-height  : 1.3em;
  border-radius: 10px;
  color        : white;
  font-weight  : bold;
  cursor       : default;
  background-color: rgb(255, 130, 0);
}
[id=diary] .compteur[data-value='0'] {
  background-color: rgb(195, 195, 195);
}


/* Filtres */
.diary-filter {
  flex   : 2 0 330px;
  display: none;
  padding-top: 3px;
}
.diary-filter > div {
  margin: auto;
  width : 330px;
}
.diary-filter span {
  margin-right : -2px;
  padding      : 1px 4px;
  font-size    : .9em;
  font-style   : italic;
  border       : 1px solid #d3d3d3;
  border-radius: 4px;
  background   : #F8F8F8;
  opacity      : 0.55;
}
.diary-filter span.pressed {
  opacity: 1;
}


/* Arrow to fold/unfold diary */
[id=diary] .btn-arrow {
  flex               : 0 0 32px;
  margin-left        : 4px;
  display            : none;
  width              : 32px;
  height             : 25px;
  opacity            : .5;
  background-repeat  : no-repeat;
  background-position: 0 -3px;
  cursor             : pointer;
}
[id=diary] .btn-up {
  background-image: url(../assets/img/arrow-up.png);
}
[id=diary] .btn-down {
  background-image: url(../assets/img/arrow-down.png);
}


/* LIST */

[id=diary] > ul {
  /* display: none; */
  /*flex   : 1 1 0; */ /* flex-basis is animated using TweenLite in Diary.js */
  margin: .5em 0 .2em;
  padding: 0;
  overflow-y: auto;
}

.diary-entry {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #cbcbcb;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: #f8f8f8;

  & > * {
    pointer-events: none;
  }
}

.diary-entry > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile .diary-entry > div {
  flex-direction: column;
}
.diary-entry-col1 {
  flex-shrink: 0;
}
.diary-entry-col2 {
  flex-grow: 1;
  padding: 0 5px;
}
.diary-entry-col2 > div:nth-child(1) {
  flex-shrink: 0;
}
.mobile .diary-entry-col2 > div:nth-child(1) {
  align-self: flex-start;
}

.diary-entry-col2 > div {
  margin: 0 0.5em;
}
.mobile .diary-entry-col2 > div {
  margin: 0;
}

.diary-entry.is-user {
  background-color: #ECECEC;
  opacity: .8;
}

.diary-entry > span {
  flex-shrink   : 0;
  height        : 25px;
  display       : inline-block;
  line-height   : 30px;
  padding       : 0 4px;
  vertical-align: middle;
}


.log-date {
  width      : 66px;
  display    : inline-block;
  margin     : 0 6px;
  font-size  : .7em;
  text-align : center;
  color      : rgb(158, 158, 158);
}

[id=diary] .departement {
  margin          : 3px 5px 0 3px;
  padding         : 2px 4px 0;
  height          : 20px;
  line-height     : 18px;
  min-width       : 14px;
  font-size       : .7em;
  letter-spacing  : 1px;
  font-weight     : bold;
  text-align      : center;
  color           : white;
  background-color: #828282;
  border-radius   : 15px;
}

.author {
  padding-right: 6px;
  font-weight: bold;
  font-style : italic;
  color      : darkcyan;
}

.log-site-id {
  color: grey;
}

#diary .log-value {
  padding            : 0 4px 0 2px;
  flex-shrink        : 1;
  font-weight        : bold;
}

#diary .log-etat {
  margin-right: 4px;
  padding: 4px 15px;
  background-size    : 30px;
  background-repeat  : no-repeat;
  background-position: 50% 40%;
}

#diary .log-etat-0 {
  color: rgb(36, 36, 36);
  background-image: url(../assets/img/factory.0.png);
}
#diary .log-etat-11 {
  color: rgb(36, 36, 36);
  background-image: url(../assets/img/factory.11.png);
}
#diary .log-etat-1 {
  color: rgb(134, 0, 211);
  background-image: url(../assets/img/factory.1.png);
}
#diary .log-etat-2 {
  color: rgb(207, 0, 0);
  background-image: url(../assets/img/factory.2.png);
}
#diary .log-etat-3 {
  color: rgb(211, 128, 0);
  background-image: url(../assets/img/factory.3.png);
}
#diary .log-etat-4 {
  color: grey;
  background-image: url(../assets/img/factory.4.png);
}
#diary .log-etat-5 {
  padding-right: 5px;
  margin-left  : 5px;
  color: grey;
  background-image: url(../assets/img/factory.5.png);
}
#diary .log-etat-12 {
  color: rgb(183, 203, 0);
  background-image: url(../assets/img/factory.12.png);
}
#diary .log-etat-6 {
  color: rgb(183, 203, 0);
  background-image: url(../assets/img/factory.6.png);
}
#diary .log-etat-7 {
  color: rgb(0, 181, 0);
  background-image: url(../assets/img/factory.7.png);
}
#diary .log-etat-8 {
  color: rgb(25, 141, 255);
  background-image: url(../assets/img/factory.8.png);
}
#diary .log-etat-9 {
  height: 27px !important;
  color : rgb(25, 141, 255);
  background-image: url(../assets/img/factory.9.png);
}
#diary .log-etat-10 {
  color: rgb(25, 141, 255);
  background-image: url(../assets/img/factory.10.png);
  background-position-x: 3px;
}

.log-remarque p {
  display    : inline;
  margin     : 0;
  height     : inherit;
  line-height: 30px;
  font-style : italic;
  font-weight: normal;
  color      : black;
}

#diary .log-no-event {
  width      : 96%;
  text-align : center;
  font-style : italic;
  color      : grey;
  line-height: 40px;
}

#diary-limited {
  display: none;
  justify-content: center;
  margin-bottom: .3em;
  font-size: .6em;
  text-align: center;
  color: #aeaeae;
}