
#drag-info-container {
  position: absolute;
  padding: 6px 8px 8px 20px;
  right: 10px;
  /*right   : 460px;
  width   : 365px;*/
  max-width: 400px;
}

/*
.drag-info-row1 {}
*/
.drag-info-row2 {
  display: flex;
  justify-content: space-between;
}

.d-i-coords {
  font-size: .8em;
  opacity: .6;
}


#drag-info-buttons {
  /*top: auto;
  right: 10px;
  bottom: 8px;*/
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-left: .8em;
  text-align: center;

  .btn {
    border-width: 1px;
  }
}

[id=drag-info-buttons] span {
  height          : fit-content;
  margin          : 4px;
  padding         : 4px 8px;
  background-color: #f0f0f0;
  border          : 1px solid grey;
  border-radius   : 8px;
}

[id=drag-info-buttons] span:HOVER {
  background-color: #fff;
}