
[id=etats-container] {
  display   : none;
  position  : absolute;
  top       : 5px;
  right     : 10px;
  z-index   : 4;
  overflow  : hidden;
  overflow-y: auto;
  transition: opacity .4s;
}
.mobile [id=etats-container] {
  top  : 10px;
  left : 20px;
  right: auto;
}

.etats-list {
  padding: 10px 0 0;
  margin: 0;
}
/*[id=filter-container] .etats-list {
  padding: 15px 10px 10px 12px;
  margin : 0px 10px;
}*/

.etats-list li {
  max-width          : 70%; /* filter dialog on mobile */
  min-width          : 230px;
  width              : 240px;
  height             : 28px;
  margin-bottom      : 5px;
  padding            : 10px 0 3px 45px;
  border             : 1px solid transparent;
  border-radius      : 12px;
  background-repeat  : no-repeat;
  background-size    : 30px;
  background-position: 3% 45%;
  list-style         : none;
  -webkit-tap-highlight-color: transparent;
}
[id=etats-container] .available-etat:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.etats-list li:not(.available-etat) {
  border-color : orange;
  border-radius: 10px;
  cursor: default;
}

.etat-0 {
    background-image: url(../assets/img/factory.0.png);
}
.etat-1 {
    background-image: url(../assets/img/factory.1.png);
}
.etat-2 {
    background-image: url(../assets/img/factory.2.png);
}
.etat-3 {
    background-image: url(../assets/img/factory.3.png);
}
.etat-4 {
    background-image: url(../assets/img/factory.4.png);
}
.etat-5 {
    background-image: url(../assets/img/factory.5.png);
}
.etat-6 {
    background-image: url(../assets/img/factory.6.png);
}
.etat-7 {
    background-image: url(../assets/img/factory.7.png);
}
.etat-8 {
    background-image: url(../assets/img/factory.8.png);
}
.etat-9 {
    background-image: url(../assets/img/factory.9.png);
}
.etat-10 {
    background-image: url(../assets/img/factory.10.png);
}
.etat-11 {
    background-image: url(../assets/img/factory.11.png);
}
.etat-12 {
    background-image: url(../assets/img/factory.12.png);
}

/* For fiche and site creation pop ups */
.btn.current-etat-container {
  display: flex;
  align-items: center;
  margin-top: 3px;
  min-height: 36px;
  width: fit-content;

  * {
    pointer-events: none;
  }
}