
#fiche-container {
  position: relative;
  padding: 36px 12px 4px 12px;
  width: 400px;
}
.mobile #fiche-container {
  max-width: 90vw;
}

.fiche-fields {
  margin: 3px 0;
  padding: 4px;
  overflow-y: auto;
  transform-origin: top center;
}


/* TOP ROW */

[id=fiche-container] .popup-buttons {
  display: flex;
  align-items: center;
  left: 6px;
  right: 40px;
  overflow-x: auto;
}

[id=fiche-container] .border-container {
  padding-right: 20px;
}

.fiche-fold-btn {
  display: none;
  flex: 0 0 26px;
  height: 26px;
  margin: 0 7px 0 2px ;
  background: url(../assets/img/arrow-down.png) center no-repeat;
  background-color: lightgrey;
  background-size: 22px;
  border-radius: 50%;
  transition: transform .3s;
}
.mobile .fiche-fold-btn {
  display: block;
}

.fiche-folded {
  &#fiche-container {
    height: 146px;
  }
  .fiche-fold-btn {
    transform: rotate(-180deg);
  }
  .fiche-fields {
    margin: 0;
    transform: scale(0.85);
  }
  .fiche-fold-hide {
    display: none;
  }
}

.popup-buttons .fiche-buttons-bar {
  display      : flex;
  flex-shrink  : 1;
  flex-wrap    : nowrap;
  margin       : 8px;
  padding      : 0 6px;
  border       : 1px solid lightgrey;
  border-radius: 8px;
  cursor       : default;
}

.fiche-buttons-bar span {
  padding: 3px 5px;
}

.fiche-btn-zoom {
  vertical-align : text-bottom;
  height         : 20px;
  width          : 20px;
  background     : url(../assets/img/zoom.png) center no-repeat;
  background-size: 20px;
}
.fiche-btn-link {
  margin-left    : 2px;
  vertical-align : bottom;
  height         : 22px;
  width          : 22px;
  background     : url(../assets/img/link.png) center no-repeat;
  background-size: 22px;
}
.fiche-btn-prev,
.fiche-btn-next {
  vertical-align : bottom;
  height         : 22px;
  width          : 20px;
  background     : url(../assets/img/next-icon.png) center no-repeat;
  background-size: 22px;
}
.fiche-btn-prev {
  transform: rotate(180deg);
}
.fiche-btn-brgm {
  vertical-align : bottom;
  height         : 22px;
  width          : 22px;
  background     : url(../assets/img/brgm.png) center no-repeat;
  background-size: 22px;
}

#fiche-move-site-btn {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 36px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #727272;

  i {
    margin-right: .5em;
    color: lighten( #727272, 25% );
  }
  span {
    padding-top: 2px;
  }
}

.fiche-button-close {
  flex: 1 0 auto;
}


/* Limitation en hauteur du champ activité */
.popup-value-activite {
  max-height: 73px;
  overflow  : hidden;
  overflow-y: auto;
}


/* ACTION BUTTONS */

.etat-icon, .edit-icon, .camera-icon {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-position: 0;
  background-repeat: no-repeat;
}
.etat-label:HOVER,
.btn-ajouter-remarque span:HOVER,
.btn-ajouter-photos span:HOVER {
  text-decoration: underline;
}

/* ETAT */
.etat-icon {
  background-position: 0 -2px;
  background-size: 33px;
}
.etat-label {
  margin: 0 10px 0 7px;
  white-space: nowrap;
}

/* REMARQUE & PHOTOS */
.btn-ajouter-remarque,
.btn-ajouter-photos {
  display: inline-block;
  padding-right: 15px;
}
.btn-ajouter-remarque span,
.btn-ajouter-photos span {
  vertical-align: super;
  color: #bf7e0c;
  font-style: italic;
}

.edit-icon {
  margin-left        : 5px;
  background-image   : url(../assets/img/edit.png);
  background-size    : 23px;
  background-position: 2px 6px
}
.camera-icon {
  margin-left        : 5px;
  background-image   : url(../assets/img/camera.png);
  background-size    : 25px;
  background-position: 0 4px;
}

/* Liste des remarques */
.remarque-container {
  display: block;
  margin: 2px 0 0 10px;
  padding-top: 4px;
}
.date {
  font-size: .9em;
  font-style: italic;
}
.remarque > * {
  margin: 8px 15px;
}


.fiche-photo {
  border-radius: 7px;
  cursor: pointer;
}

.fiche-coordinates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: inherit;
  margin-right: 0;
  font-size: 13px;
  white-space: nowrap;

  & :first-child {
    margin-right: 8px;
  }

  .btn {
    margin: 0 .1em;
    padding: 3px 6px;
    text-decoration: none;
    color: black;
    background: lightcyan;
    border-width: 1px;
    border-radius: 4px;
  }
}
