[id="filter-container"] {
  display: none;
  /* display flex from JS */
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 5%;
  left: 150px;
  height: 85%;
  width: 660px; /* IE */
  padding: 30px 10px 15px;
  user-select: none;
}

[id="filter-subcontainer"] {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  h4 {
    flex: 0 0 auto;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/*
[id=f-depts],
[id=f-etats-container] {
  overflow: hidden;
  height: 100%;
}*/
[id="f-depts"] {
  flex: 1 0 38%;
  margin: 0 27px 0 0;
}
[id="f-etats-container"] {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  padding-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* DEPARTEMENTS */

[id="f-depts-container"] {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 0; /* scroll */
  /*width         : 290px;*/
  flex: 0 0 290px;
  margin: 0 20px;

  & > h4 {
    margin-bottom: 1px;
  }
}

[id="f-depts-selected-header"] {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 18px;
  position: relative;
  top: 10px;
  padding: 0 40px 0 20px;
  user-select: none;
}
.f-depts-selected-title,
[id="f-depts-clear-btn"] {
  position: relative;
  background-color: white;
  color: rgb(244, 135, 0);
}
.f-depts-selected-title {
  /* margin-top    : -20px; */
  /* margin-left   : 20px; */
  padding: 0 4px;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 1px;
}
[id="f-depts-clear-btn"] {
  /* margin-top   : -19px; */
  /* margin-left  : 230px; */
  padding: 2px 7px 3px;
  font-size: 0.85em;
  border: 1px solid #f48700;
  border-bottom-color: #ffb355 !important;
  border-radius: 5px;

  i {
    opacity: 0.7;
    margin-right: 3px;
  }
}

[id="f-depts-selected"] {
  flex: 1 1 auto;
  margin-bottom: 8px;
  padding: 10px 0 3px;
  max-height: 35%;
  min-height: 40px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid orange;
  border-radius: 5px;
}

/*
[id=f-depts-selected] > ul {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
*/

[id="f-depts-selected"] > ul:empty:after {
  display: inline-block;
  width: 100%;
  content: "aucun";
  text-align: center;
  line-height: 3em;
  color: #adadad;
}

[id="f-depts-available"] {
  flex: 1 2 80%;
  min-height: 200px;
  border-left: 1px solid transparent;
}

[id="f-depts-container"] ul {
  padding: 0 8px;
}
[id="f-depts-container"] li {
  display: flex;
  line-height: 25px;
  list-style: none;
  cursor: pointer;
  -webkit-tap-highlight-color: white;

  span {
    pointer-events: none;
  }

  .f-depts-num {
    flex: 0 0 auto;
    margin-right: 1em;
    font-size: 0.85em;
    font-style: italic;
    color: #bbbbbb;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.f-depts-nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}

/* ETATS */

[id="f-etats-container"] {
  .etats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 90%;
    padding: 0 25px;
    border-left: 1px solid lightgrey;
    -webkit-tap-highlight-color: transparent;
  }
  li {
    cursor: pointer !important;
  }
  li.available-etat {
    opacity: 0.5;
  }
}

/* BOTTOM BAR (counter + validate) */

[id="f-bottom-bar"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 15px 0 0 0;
}

[id="f-bottom-bar"] .btn-valider {
  margin: 0 0 0 20px;
}

/* COUNTER */

.f-counter {
  flex: 0 0 110px;
  display: flex;
  justify-content: center;
}
.f-counter-spinner {
  display: none;
  width: 20px;
  height: 20px;
  background: url(../assets/img/refresh.png) no-repeat center;
  opacity: 0;
  transition: opacity 0.3s;
}
.f-counter-value {
  padding: 0.3em 0.8em 0.4em;
  font-size: 1.1em;
  background-color: #b3ffd7;
  opacity: 0;
  transition: opacity 0.3s;

  span {
    margin: 0 2px;
  }
}

/* MOBILE STYLE */

.mobile {
  [id="filter-container"] {
    top: 15px;
    left: 5%;
    max-width: 85%;
    padding-bottom: 8px;
    font-size: 0.75em;
  }

  [id="filter-subcontainer"] {
    flex-direction: column;
    align-items: center;
  }

  [id="filter-tabs"] {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }

  /* Titles are displayed in tabs */
  [id="f-depts-container"] > h4,
  [id="f-etats-container"] > h4 {
    display: none;
  }

  [id="f-depts-container"] {
    flex-grow: 1;
    width: 90%;
    margin: 0;

    li {
      line-height: 32px;
      font-size: 1.3em;

      .f-depts-num {
        padding-top: 1px;
        font-size: 0.7em;
      }
    }

    ul {
      margin: 0 10px;
    }
  }

  [id="f-etats-container"] {
    flex-shrink: 1;
    margin-top: 6px;
  }

  [id="f-etats-container"] li {
    padding: 9px 0 7px 45px;
  }

  [id="filter-container"] .etats-list {
    flex: auto;
    border: none;
  }

  [id="f-bottom-bar"] {
    margin-top: 6px;
  }

  .f-tab-selected {
    border-bottom-color: white;
  }
}

[id="filter-tabs"] {
  flex: 0 0 auto;
  display: none;
  width: 80%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.f-tab {
  margin-bottom: 6px;
  padding: 0.5em 1.5em;
  background-color: #f3f3f3;
  color: #7e7e7e;
  border: 1px solid transparent;
}
.f-tab-selected {
  color: black;
  background-color: white;
  border: 1px solid #a7a7a7;
}
