
@import './vars.scss';

[id=help-page] {
  position: absolute;
  top: 0;
  overflow: visible;
}

[id=help-container] {
  width : 95%;
  margin: auto;
  font-family: $fontFamily;
}

[id=help-page] h1,
[id=help-page] h2 {
  text-align: center;
  font-style: italic;
}

/* Summary */

[id=help-page] ul {
  margin    : 0;
  padding   : 0;
  text-align: center;
  font-size : 1.3em;
  list-style: none;
}

[id=help-page] li.border-container {
  margin : 0 4px;
  padding: 0 10px;
}


[id=note-huggy] {
  margin-top: 25px;
  color: rgb(142, 142, 142);
}
[id=note-huggy] i {
  color: #5f9ea0;
}


/* Schemas */

[id=main] {
  margin: 30px 0;
}

[id=main] > div {
  width : 1318px;
  margin: 15px auto 30px;
  padding-bottom: 5px;
}

[id=help-page] h2 {
  padding: 15px 0 5px;
}

[id=help-page] .content {
  margin: auto;
  background-repeat: no-repeat;
}

[id=help-filtre] .content {
  width : 1318px;
  height: 724px;
  background-image: url(../assets/img/help/filter_help.png);
}

[id=help-fiche] .content {
  width : 1065px;
  height: 981px;
  background-image: url(../assets/img/help/fiche_help.png);
}

[id=help-move] .content {
  width : 684px;
  height: 788px;
  background-image: url(../assets/img/help/move_help.png);
}

[id=help-add] .content {
  width : 731px;
  height: 532px;
  background-image: url(../assets/img/help/add_help.png);
}

[id=help-diary] .content:nth-child(2)  {
  width : 385px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../assets/img/help/diary_closed_help.png);
}
[id=help-diary] .content:nth-child(3) {
  width : 1161px;
  height: 736px;
  background-image: url(../assets/img/help/diary_opened_help.png);
}

[id=help-search] .content:nth-child(2) {
  width : 767px;
  height: 434px;
  background-image: url(../assets/img/help/search_help_1.png);
}
[id=help-search] .content:nth-child(3) {
  margin-top: 15px;
  width : 641px;
  height: 134px;
  background-image: url(../assets/img/help/search_help_2.png);
}

[id=help-various] .content:nth-child(2) {
  width : 502px;
  height: 500px;
  margin-bottom: 30px;
  background-image: url(../assets/img/help/various_help_1.png);
}
[id=help-various] .content:nth-child(3) {
  width : 615px;
  height: 242px;
  background-image: url(../assets/img/help/various_help_2.png);
}
