
.mobile .gm-style-iw-t .gm-style-iw {
  max-width: 90vw !important;
}

.gm-style-iw-t .gm-style-iw button.gm-ui-hover-effect {
  top: 0px !important;
  right: -2px !important;
  outline: transparent;

  span {
    color: #5d5d5d;
    background-color: transparent;
    outline: transparent;
  }
}

.infowindow-content {
  margin-top: 5px;
}
