@charset 'UTF-8';
@import './vars.scss';

/* LOGIN */

[id=login-page] {
  display: flex;
  align-items: center;
  background: #D7D8D3 url(../assets/img/background2.jpg) no-repeat;
}

[id=login-container] {
  display       : flex;
  justify-content: center;
  max-width     : calc(100% - 200px);
  margin        : auto;
  padding       : 20px 20px 15px 20px;
  font-family   : $fontFamily;
  border        : 1px solid cadetblue;
  border-radius : 10px;
  background-color: rgba(100, 100, 100, 0.2);

  & > div {
    display: flex;
    justify-content: center;
    max-width: 500px;
    min-width: 0;
  }

  input {
    display       : block;
    max-width     : 80%;
    line-height   : 1.5em;
    margin        : 2px 0 15px 10px;
    padding       : 4px 5px 2px;
    font-size     : 1.1em;
    border        : 1px solid cadetblue;
    border-radius : 6px;
    outline       : 0;
    background-color: rgba(255, 255, 255, .7);
  }
}

[id=login-icon] {
  flex-basis: 20%;
  min-width: 70px;
  margin-right: 1em;
  background: center center no-repeat url(../assets/img/login.png);
}

[id=login-saisie] {
  flex-basis: 80%;
}

[id=login-page] [id=btn-valider] {
  margin         : 20px 0 0 55px;
  padding-left   : 19px;
  font-weight    : bold;
  font-size      : large;
  letter-spacing : 1px;
  cursor         : pointer;
  background     : left center no-repeat url(../assets/img/fleche-droite.png);
  -webkit-tap-highlight-color: transparent;

  &:HOVER {
    text-decoration: underline;
  }
}


.mobile [id=login-container] {
  max-width: calc(100% - 70px);

  [id=login-saisie] {
    max-width: 75%;

    input {
      max-width: 70%;
    }
  }
}