[id='logout-container'] {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 60px;
}
[id='logout-container'].street-view-mode {
  display: none;
}

.logout-btn {
  background: url(../assets/img/logout.png) no-repeat;
  width: 25px;
  height: 25px;
}

.logout-btn:active {
  background-size: 22px;
}
