
[id=map-container] {
  position: absolute;
  z-index : 1;
  width   : 100%;
  height  : 100%
}
[id=map-container].minimap {
  z-index: 3;
  width  : 280px !important;
  height : 210px !important;
  bottom : 130px;
  left   : 6px;
  border : 1px solid white;
}
.mobile [id=map-container].minimap {
  width: 180px !important;
  height: 120px !important;
  bottom: 4px;
  left: 4px;
}

[id=pano-container] {
  display: none;
  width  : 100%;
  height : 100%
}


/* POPUPS */
[id=popups-container] {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 50px;
  pointer-events: none;
}
.mobile [id=popups-container] {
  top: 1vh;
  left: 2vw;
  right: 2vw;
}


[id=popups-container] .popup {
  display: inline-block;
  opacity: 0;
  padding: 6px 20px 15px;
  pointer-events: initial;
}


/* BUTTONS */
[id=btn-bar] {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #646464;
    margin: 5px 0;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightgray;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:active {
      opacity: .7;
    }
  }
}
[id=btn-bar-filter] {
  padding-top: 2px;
}
[id=btn-bar-geolocation] {
  transition: background-color .6s;
  &.gps-on {
    background-color: #ccffc3;
  }
}

.mobile [id=btn-bar] i {
  font-size: 1em;
  width: 32px;
  height: 32px;
}


/* Gmaps override */
.gm-bundled-control > div {
  -webkit-tap-highlight-color: transparent;
}