
[id=menu] ul {
  margin: 0;
  padding: 2px;
}
[id=menu] li {
  margin        : 6px;
  padding       : 6px 13px 5px;
  list-style    : none;
  font-size     : 1.1em;
  text-align    : center;
  letter-spacing: .03em;
  white-space   : nowrap;
  border        : 2px solid lightblue;
  border-radius : 7px;
  background-color: white;
  transition: background-color .5s;

  &:hover {
    background-color: lightcyan;
  }
}