.open {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 132px;
  padding: 2px 9px;
  font-size: .9em;
  box-shadow: none;
}

[id=open-help] {
  right: 105px;
  font-weight: bold;
}
[id=open-help].street-view-mode {
  display: none;
}

[id=open-versions] {
  right: 185px;
}
[id=open-versions].street-view-mode {
  display: none;
}