
@import './vars.scss';

[id=recherche-container] {
  position        : absolute;
  z-index         : 1;
  bottom          : 6px;
  left            : 5px;
  padding         : 4px;
  font-family: $fontFamily;
  border-radius   : 5px;
  background-color: rgba(150, 150, 150, .4);
}

[id=recherche-container] > div {
  display         : flex;
  width           : 65px;
  height          : 24px;
  padding         : 2px 4px 1px;
  overflow        : hidden;
  border          : 1px solid rgb(162, 162, 162);
  border-radius   : 3px;
  background-color: white;
}

[id=recherche-container].focused > div {
  width       : 280px;
  padding     : 6px 8px 5px;
  border-color: rgb(120, 120, 120);
}

[id=recherche-container] input {
  flex-grow  : 1;
  flex-shrink: 0;
  border     : 0;
  outline    : 0;
}

.rech-france-toggle {
  display          : inline-block;
  margin-left      : 5px;
  padding          : 1px 4px 0;
  font-size        : .8em;
  background-color : #9AF5DD;
  opacity          : .5;
  border-radius    : 4px;
  border-bottom    : 2px solid #82D2BD;
  text-decoration  : line-through;
  transition       : opacity .4s;
}

.rech-france-toggle.fr-enabled {
  opacity: 1;
  text-decoration: none;
}
