
[id=saisie-remarque]{
  display: none;
  position: absolute;
  z-index: 5;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  padding: 0 5px 10px 5px;
}

[id=saisie-remarque] .nom {
  margin: 10px 5px 12px;
}

.mobile [id=saisie-remarque] {
  min-width: 84vw;
}

/* CKEditor override */
.ck-content {
  min-height: 126px;
}
.ck-powered-by {
  display: none;
}