
[id=creation-site-container] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  input {
    width: 220px;
  }

  .popup-field-name.nom {
    margin-bottom: 4px;
  }

  .etat-btn-wrapper {
    width: 100%;

    .popup-value {
      display: flex;
      justify-content: space-around;
    }
  }
}
