
[id=site-link] {
  position: absolute;
  z-index: 4;
  top: 65px;
  right: 200px;
  display: none;
  /* display: flex from JS*/
  align-items: center;
  width: 370px;
  padding: 6px 5px;
}
.mobile [id=site-link] {
  left: 16px;
}

[id=site-link] .fiche-btn-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

[id=site-link] input {
  width: 310px;
  padding: 4px 10px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}


.mobile {

  [id=site-link] {
    right: auto;
    max-width: 85%;
  }
}