
[id=upload-container] {
  position: absolute;
  top     : 20%;
  right   : 30%;
  z-index : 6;
  width   : 530px;
  padding : 10px 15px 10px;
}
.mobile [id=upload-container] {
  right: 20px;
  left: 20px;
  width: auto;
}

[id=upload-form-container]{
  width        : 97%;
  padding-top  : 5px;
  padding-right: 0;
  overflow     : hidden;
}

.form-input-file {
  display: flex;
  padding: 0 0 5px 0;
}

.form-input-file input {
  flex   : 0 1 0;
  height : 0;
  opacity: 0;
}

.form-input-file .input-label {
  flex-shrink     : 0;
  padding         : 6px 14px 3px;
  background-color: #b9edee;
  border          : 0px solid #8AD6D7;
  border-radius   : 4px;
  transition      : all .3s;
}
.form-input-file .input-label:HOVER {
  background-color: #D4F4F5;
}
.form-input-file .input-label.upload-success {
  background-color: lightgreen;
}
.form-input-file .input-label.upload-failure {
  background-color: red;
  border-color    : orange;
}

.form-input-file .input-value {
  flex-grow    : 1;
  padding      : 6px 0 0 10px;
  overflow     : hidden;
  text-overflow: ellipsis;
}


.upload-more-hidden form {
    display: none;
}
.upload-more-hidden > .upload-show-more {
  display        : inline-block;
  width          : 21px;
  height         : 21px;
  margin-left    : 60px;
  background     : url(../assets/img/plus.png) center no-repeat;
  background-size: 20px;
}


.upload-commentaire {
  width: 93%;
  max-width: none;
}
.upload-commentaire input {
  width: 100%;
}

