
body {
  background: #D7D8D3 url(../assets/img/background2.jpg) no-repeat;
  overflow  : auto;
}

[id=container] {
  position         : relative;
  margin           : 30px auto;
  padding          : 1px 20px 25px 60px;
  width            : 800px;
  list-style-image : url(../assets/img/fleche-droite.png);
  background-color : #fff;
  border-radius    : 30px;
  box-shadow       : 0 3px 12px 0 #7E7E7E;
}

h3 {
  margin-top : 40px;
  font-style : italic;
  color      : rgb(0, 111, 111);
}

.spinner {
  margin-top: 21px;
  background: url(../assets/img/refresh.png) center bottom no-repeat;
  width     : 100%;
  height    : 19px;
}
