
$size: 120px;

[id=waiter] {
  display    : flex;
  justify-content: center;
  align-items: center;
  position   : relative;
  z-index    : 10;
  top        : 0;
  margin-top : 30%;

  & > div {
    width  : $size;
    height : $size;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
  }
}

.progress {
  width        : $size;
  height       : $size;
  margin       : auto;
  border-radius: 75px;
  border-bottom: 5px solid rgb(0, 148, 255);
  cursor       : default;
}
